.basket {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 6px -7px rgba(0,0,0,0.45);
    position: sticky;
    top: 0px;
    right: 50px;
    width: 600px;
    border: 1px solid black;
    padding: 25px;
}

.removeButton {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: red;
    color: white
}
.basketData {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.basketData button{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #F17228;
    color: white;
    border: none;
    
}


.basketData button:last-child{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #FFB30E;
    color: white;
    margin-left: 20px;
   
}
.buttonQuantity{
    
    margin-right: 20px;
}
.quantity{
    display: inline-block;
    text-align: center;
    width: 30px;
  
}
.productTitle{
    margin-right: 20px;
    display: inline-block;
    width: 65%;
    border-radius: 10px;
}