.cardContainer{
    width: 283px;
    height: 469px;
    margin: 20px 0px 150px 12px;
}
.cardImage{
    width: 283px;
    height: 283px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cardButton{
    width: 283px;
    height: 60px;
    background-color: #F17228;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}   
.cardCategory{
    font-size: 25px;
    color: #FFB30E;
}
.cardPrice{
    font-size: 20px;
    color: #424242;
}